.button {
    text-align: center;
    line-height: 120px;
    color: $grey;
    font-style: normal;
    font-weight: 900;
    font-size: 29px;
    cursor: pointer;
    transition: all 0.3s;
    position: relative;

    &:hover { 
        background-color: #424446 !important;
        color: #353638 !important;
    }
}